.controller {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    background: #eaeaea;
    border: 3px solid #ffffff;
    border-radius: 10px;
    min-width: 460px;
}

/* Controls for source, destination, algorithm & color picker */
.controller .primaryControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
}

/* Controls for bandwidth, delay & jitter */
.controller .secondaryControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 30px;
}

/* Controls for source, destination, algorithm & color picker */
.controller .primaryControlsYen {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

/* First column of .primaryControls -> source & destination */
.controller .col0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-right: 1px solid;
    border-right-color: #6c6c6c;
}

/* Second column of .primaryControls -> algorithm & color */
.controller .col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

/* Row in .primaryControls */
.controller .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 4px;
}

/* Algorithm select box */
.controller .col1 select {
   width: 100px;
   cursor: pointer;
}

/* Color picker size */
.colorPicker {
    width: 25px;
    height: 25px;
}

/* Offsetting labels */
.sourceLabel {
    margin-right: 33px;
}

.colorLabel {
    margin-left: 25px;
    margin-right: 10px;
}

.qosLabel {
    margin-left: 5px;
}

.removeButtonContainer {
    transform: translate(-50%, 50%);
    position: absolute;
    margin-top: 45px;
}

.removeButton {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 11px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.removeButton:hover {
    background-color: rgb(227, 43, 43);
    color: rgb(255, 255, 255);
}

.labelYen {
    margin-left: 0;
}

.selectBox {
    width: 112px !important;
}

.smallSelectBox {
    width: 55px !important;
}

.numPathsSelectedBox {
    width: auto !important;
}