html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.dndflow {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

svg:active, svg:focus {
    outline: none;
}

:root.light .react-flow__background {
    background-color: #F8F9F7;
}

:root.dark .react-flow__background {
    background-color: #2b303a;
}