.NodeMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px;
    background: #ffffff;
    border: 1px solid #d2d2d2d5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addressBox {
    width: 150px;
}

.maskBox {
    width: 150px;
}

.labelBox {
    width: 120px;
}

.ssidBox {
    width: 120px;
}

.wanIpBox {
    width: 150px;
}

.wanSubnetMaskBox {
    width: 165px;
}